In [13]:
import pandas as pd
import matplotlib.pyplot as plt

#Cargar archivo CSV
df = pd.read_csv('D:/clases/6to Semestre/MinerÃ­a de Datos/Proyecto/Hipertension_Arterial_Mexico.csv')

df

,FOLIO_I,sexo,edad,concentracion_hemoglobina,temperatura_ambiente,valor_acido_urico,valor_albumina,valor_colesterol_hdl,valor_colesterol_ldl,valor_colesterol_total,...,segundamedicion_peso,segundamedicion_estatura,distancia_rodilla_talon,circunferencia_de_la_pantorrilla,segundamedicion_cintura,tension_arterial,sueno_horas,masa_corporal,actividad_total,riesgo_hipertension
0,2022_01001004,2,41,14.2,22,4.8,4.0,34,86.0,139,...,64.70,154.0,48.5,33.5,0.0,107,4,32.889389,120,1
1,2022_01001009,2,65,14.1,9,4.4,3.8,73,130.0,252,...,96.75,152.2,44.5,41.1,113.7,104,2,1.000000,240,0
2,2022_01001012,2,68,14.2,22,4.8,4.0,34,86.0,139,...,68.70,144.8,42.3,37.8,103.7,105,1,1.000000,480,0
3,2022_01001013,1,35,15.7,11,6.5,4.1,49,107.0,203,...,64.70,154.0,48.5,33.5,0.0,117,5,26.265339,275,1
4,2022_01001015,2,65,12.7,7,4.2,4.2,41,76.0,145,...,97.15,161.3,49.6,42.0,118.9,123,2,1.000000,255,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4358,2022_32056019,2,62,14.2,22,4.8,4.0,34,86.0,139,...,64.25,160.5,51.1,34.5,77.8,125,4,1.000000,280,0
4359,2022_32056024,1,39,14.2,22,4.8,4.0,34,86.0,139,...,64.70,154.0,48.5,33.5,0.0,130,4,19.193721,780,0
4360,2022_32056026,2,69,15.9,11,2.9,1.9,21,44.0,74,...,71.20,148.6,47.2,38.0,0.0,147,4,1.000000,300,0
4361,2022_32056029,1,67,17.6,14,5.5,4.0,44,96.0,171,...,68.20,167.7,51.5,36.5,96.4,108,2,1.000000,240,0
4362,2022_32056030,2,56,14.2,22,4.8,4.0,34,86.0,139,...,64.70,154.0,48.5,33.5,0.0,100,4,25.600777,300,0

In [14]:
df['IMC'] = df['peso'] / (df['estatura'] / 100) ** 2

def clasificar_hipertension(valor):
    if valor < 120:
        return 'Normal'
    elif valor < 130:
        return 'Elevado'
    elif valor < 140:
        return 'HipertensiÃ³n grado 1'
    else:
        return 'HipertensiÃ³n grado 2'

df['clasificaciÃ³n_hipertensiÃ³n'] = df['tension_arterial'].apply(clasificar_hipertension)

#Conversion
df['sexo'] = df['sexo'].map({1: 'Masculino', 2: 'Femenino'})

df

,FOLIO_I,sexo,edad,concentracion_hemoglobina,temperatura_ambiente,valor_acido_urico,valor_albumina,valor_colesterol_hdl,valor_colesterol_ldl,valor_colesterol_total,...,distancia_rodilla_talon,circunferencia_de_la_pantorrilla,segundamedicion_cintura,tension_arterial,sueno_horas,masa_corporal,actividad_total,riesgo_hipertension,IMC,clasificaciÃ³n_hipertensiÃ³n
0,2022_01001004,Femenino,41,14.2,22,4.8,4.0,34,86.0,139,...,48.5,33.5,0.0,107,4,32.889389,120,1,34.359130,Normal
1,2022_01001009,Femenino,65,14.1,9,4.4,3.8,73,130.0,252,...,44.5,41.1,113.7,104,2,1.000000,240,0,0.877155,Normal
2,2022_01001012,Femenino,68,14.2,22,4.8,4.0,34,86.0,139,...,42.3,37.8,103.7,105,1,1.000000,480,0,0.877155,Normal
3,2022_01001013,Masculino,35,15.7,11,6.5,4.1,49,107.0,203,...,48.5,33.5,0.0,117,5,26.265339,275,1,27.105625,Normal
4,2022_01001015,Femenino,65,12.7,7,4.2,4.2,41,76.0,145,...,49.6,42.0,118.9,123,2,1.000000,255,0,0.877155,Elevado
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4358,2022_32056019,Femenino,62,14.2,22,4.8,4.0,34,86.0,139,...,51.1,34.5,77.8,125,4,1.000000,280,0,0.877155,Elevado
4359,2022_32056024,Masculino,39,14.2,22,4.8,4.0,34,86.0,139,...,48.5,33.5,0.0,130,4,19.193721,780,0,19.835281,HipertensiÃ³n grado 1
4360,2022_32056026,Femenino,69,15.9,11,2.9,1.9,21,44.0,74,...,47.2,38.0,0.0,147,4,1.000000,300,0,0.877155,HipertensiÃ³n grado 2
4361,2022_32056029,Masculino,67,17.6,14,5.5,4.0,44,96.0,171,...,51.5,36.5,96.4,108,2,1.000000,240,0,0.877155,Normal
4362,2022_32056030,Femenino,56,14.2,22,4.8,4.0,34,86.0,139,...,48.5,33.5,0.0,100,4,25.600777,300,0,26.545146,Normal

In [15]:
df_genre = df.drop(columns=['concentracion_hemoglobina',
'temperatura_ambiente',
'valor_albumina',
'valor_colesterol_hdl',
'valor_colesterol_ldl',
'resultado_glucosa_promedio',
'valor_hemoglobina_glucosilada',
'valor_ferritina',
'valor_folato',
'valor_homocisteina',
'valor_proteinac_reactiva',
'valor_transferrina',
'valor_vitamina_bdoce',
'valor_vitamina_d',
'medida_cintura',
'segundamedicion_peso',
'segundamedicion_estatura',
'distancia_rodilla_talon',
'circunferencia_de_la_pantorrilla',
'segundamedicion_cintura',
'riesgo_hipertension','clasificaciÃ³n_hipertensiÃ³n','FOLIO_I'], axis=1)

In [16]:
df_genre = df_genre.groupby('sexo').mean()

df_genre

,edad,valor_acido_urico,valor_colesterol_total,valor_creatina,resultado_glucosa,valor_insulina,valor_trigliceridos,peso,estatura,tension_arterial,sueno_horas,masa_corporal,actividad_total,IMC
sexo,,,,,,,,,,,,,,
Femenino,47.131166,4.634155,143.603139,0.590247,97.679148,7.008558,133.337070,55.386891,152.826570,121.676009,3.298580,22.522194,448.923393,inf
Masculino,47.608180,5.030231,144.988737,0.653159,95.650267,6.303201,143.508002,62.897866,161.461707,126.993480,3.147007,22.338824,533.989923,inf